:root {
    --color-bg-body: #F9F9F9;
    --color-bg-card: #FFFFFF;
    --color-text-primary: #1E1E1E;
    --color-primary: #0077CC;
    --color-primary-hover: #005FA3;
    --color-border: #E0E0E0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 400;
}

/* TROCA DE TEMA */
.dark-mode {
    background-color: black;
    color: white;
}

body.dark-mode .botao-home a {
    color: rgb(0, 153, 255);
}

body.dark-mode .botoes-geral a {
    color: white;
}

body.dark-mode .voltar a {
    background-color: #000000;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.781);
}

body.dark-mode .btn-secundario {
    color: white;
}

body.dark-mode .descricao {
    color: white;
}

body.dark-mode .footer-coluna h3 {
    color: white;
}

body.dark-mode .footer-coluna p {
    color: white;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
}

.logo-e-nome {
    display: flex;
    align-items: center;
    gap: 10px;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 20px
}

.nome-site h2 {
    font-weight: 600;
    color: blue;
}

.botao-home a {
    color: var(--color-primary-hover);
    text-decoration: none;
    font-size: 1.3rem;
}

.botoes-geral a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}



/* ======================= */
/* DETALHE CURSO */
/* ======================= */

.detalhe-curso {
    padding: 40px 80px;
}

.voltar a {
    display: inline-block;
    text-decoration: none;
    background: #f3f4f6;
    padding: 10px 15px;
    border-radius: 6px;
    color: #111827;
    margin-bottom: 20px;
}

.conteudo-detalhe {
    display: flex;
    gap: 40px;
}

/* ESQUERDA */

.detalhe-esquerda {
    flex: 3;
}

.imagem-topo img {
    width: 100%;
    height: 550px;
    border-radius: 10px;
}

.detalhe-esquerda h1 {
    margin-top: 20px;
    font-size: 28px;
}

.descricao {
    margin-top: 10px;
    color: #374151;
    line-height: 1.6;
}

.lista-aprendizado {
    margin-top: 20px;
    padding-left: 20px;
}

.lista-aprendizado li {
    margin-bottom: 10px;
}

/* DIREITA */

.detalhe-direita {
    flex: 1;
}

.card-info {
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 25px;
}

.item-info {
    margin-bottom: 15px;
}

.item-info span {
    font-size: 14px;
    color: #6b7280;
}

.item-info strong {
    display: block;
    font-size: 16px;
    margin-top: 2px;
    margin-left: 30px;
}

.btn-principal {
    display: block;
    background: #2563eb;
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    margin-top: 15px;
    text-decoration: none;
}

.btn-secundario {
    display: block;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    margin-top: 10px;
    text-decoration: none;
    border: 1px solid #e5e7eb;
    color: #111827;
}


/* MOBILE */

@media (max-width: 768px) {

    .detalhe-curso {
        padding: 20px;
    }

    .imagem-topo img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }

    .conteudo-detalhe {
        flex-direction: column;
    }

}

@media (max-width: 375px) {

    .botoes-geral,
    .botao-home {
        display: none;
    }

    .titulo-site h1 {
        font-size: 22px;
        padding: 0 15px;
    }

    .sub-titulo h2 {
        font-size: 13px;
        padding: 0 20px;
    }

    .cursos {
        padding: 15px;
    }

    .todos-os-curos {
        flex-direction: column;
    }

    .bloco {
        width: 100%;
    }

    .imagem img {
        height: 180px;
    }

    .nome-curso h3 {
        font-size: 16px;
    }

    .botao-ver-detalhes a {
        font-size: 14px;
        padding: 10px;
    }

    .footer {
        padding: 25px 15px;
    }

    .conteudo-footer {
        flex-direction: column;
        text-align: center;
    }
}




/* FOOTER */

.footer {
    margin-top: 80px;
    padding: 50px 80px 30px 80px;
}

.conteudo-footer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-coluna {
    flex: 1;
}

.footer-coluna h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-coluna p {
    font-size: 14px;
    color: #4b5563;
    line-height: 1.6;
}

.info-contato p {
    margin-bottom: 8px;
}

.redes-sociais {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.linha-footer {
    margin-top: 40px;
    height: 1px;
    background-color: #d1d5db;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}

.copyright p {
    font-size: 13px;
    color: #6b7280;
}