:root {
    --color-bg-body: #F9F9F9;
    --color-bg-card: #FFFFFF;
    --color-text-primary: #1E1E1E;
    --color-primary: #0077CC;
    --color-primary-hover: #005FA3;
    --color-border: #E0E0E0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 400;
}

/* TROCA DE TEMA */
.dark-mode {
    background-color: black;
    color: white;
}

body.dark-mode .sub-titulo h2 {
    color: white;
}

body.dark-mode .botao-home a {
    color: rgb(0, 153, 255);
}

body.dark-mode .botoes-geral a {
    color: white;
}

body.dark-mode .bloco {
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.281);
}

body.dark-mode .nome-curso h3 {
    color: white;
}

body.dark-mode .campo input {
    background-color: black;
}

body.dark-mode .campo select {
    color: white;
    background-color: black;
}

body.dark-mode .footer-coluna h3 {
    color: white;
}

body.dark-mode .footer-coluna p {
    color: white;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
}

.logo-e-nome {
    display: flex;
    align-items: center;
    gap: 10px;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 20px
}

.nome-site h2 {
    font-weight: 600;
    color: blue;
}

.botao-home a {
    color: var(--color-primary-hover);
    text-decoration: none;
    font-size: 1.3rem;
}

.botoes-geral a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}

/* TITULO */

.titulo-incentivo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titulo-site h1 {
    font-size: 3rem;
    font-weight: 800;
}

.sub-titulo h2 {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.527);
}

/* CURSOS */

.cursos {
    padding: 60px 80px;
}

.todos-os-curos {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.bloco {
    width: 410px;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.164);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.imagem img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.nome-curso {
    padding: 20px;
}

.nome-curso h3 {
    font-size: 28px;
    font-weight: 600;
    color: #111827;
    margin-bottom: -20px;
}

.informacoes-curso {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 20px;
    margin-top: -20px;
}

.informacoes-curso img {
    width: 26px;
    height: 26px;
}

.total-de-horas h3,
.nome-do-local h3 {
    font-size: 18px;
    font-weight: 400;
    color: #6b7280;
}

.botao-ver-detalhes {
    padding: 15px 20px 0 20px;
    margin-top: auto;
}

.botao-ver-detalhes a {
    display: block;
    text-align: center;
    background: #2563eb;
    color: #ffffff;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
}

.botao-ver-detalhes a:hover {
    background: #1e4fd1;
}

/* FOOTER */

.footer {
    margin-top: 80px;
    padding: 50px 80px 30px 80px;
}

.conteudo-footer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-coluna {
    flex: 1;
}

.footer-coluna h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-coluna p {
    font-size: 14px;
    color: #4b5563;
    line-height: 1.6;
}

.info-contato p {
    margin-bottom: 8px;
}

.redes-sociais {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.linha-footer {
    margin-top: 40px;
    height: 1px;
    background-color: #d1d5db;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}

.copyright p {
    font-size: 13px;
    color: #6b7280;
}

/* MOBILE */

@media (max-width: 375px) {

    .botoes-geral,
    .botao-home {
        display: none;
    }

    .titulo-site h1 {
        font-size: 22px;
        padding: 0 15px;
    }

    .sub-titulo h2 {
        font-size: 13px;
        padding: 0 20px;
    }

    .cursos {
        padding: 15px;
    }

    .todos-os-curos {
        flex-direction: column;
    }

    .bloco {
        width: 100%;
    }

    .imagem img {
        height: 180px;
    }

    .nome-curso h3 {
        font-size: 16px;
    }

    .botao-ver-detalhes a {
        font-size: 14px;
        padding: 10px;
    }

    .footer {
        padding: 25px 15px;
    }

    .conteudo-footer {
        flex-direction: column;
        text-align: center;
    }
}